{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6  pl-0">
        <form action="." method="get" class="form-inline">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
            <input type="submit" class="btn btn-primary" value="OK">
        </form>
    </div>
</div>

<div class="page-header">
    <h2>
        Categorias
        <span class="float-right">
            <a href="{% url 'produto:categoria_add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span> Adicionar
                </button>
            </a>
        </span>
    </h2>

    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a href="{{ object.get_absolute_url }}">{{ object.categoria }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">
            <i class="fa fa-warning"></i>Sem itens na lista
        </p>
    {% endif %}

</div>
    {% include 'includes/pagination.html' %}
{% endblock %}